body {
    font-family: 'Lato', sans-serif;
}

.menu {
    background-color: #000066;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.menu > a:link, .menu > a:visited, .menu > a:hover, .menu > a:active {
    position: relative;
    top: 5px;
    margin-left: 10px;
    color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    position: absolute;
    left: 0;
    top: 50px;
    height: 100%;
    width: 100%;
}

.left {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #c0c0c02f;
    text-align: center;
}

.right {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 2%;
}

.uploader {
    margin-top: 10%;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 50px;
    font-size: 50px;
    color: #C0C0C0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    font-size: 30px;
    color: #C0C0C0;
}

button {
    width: 400px;
    height: 50px;
    color: white;
    background: #000066;
    text-align: center;
    border: 1px solid #000066;
    font-size: 30px;
}

table {
    text-align: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    font-size: 15px;
}

td {
    border: 2px solid #000066;
    padding: 15px;
}

#info {
    text-align: left;
    font-size: 25px;
    height: 500px;
    width: 500px;
    margin-left: 5%;
}